*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: lightgrey;
    text-align: center;
    font-size: 2rem;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

main{
    height: calc(100vh - 80px);
    width: 100%;
    background-color: gray;
    padding-top: 50px;
}

#container-celle{
    border: 1px solid red;
    width: 750px;
    height: 750px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.cella{
    border: 1px solid red;
    width: calc(100% / 10);
    height: calc(100% / 10);
}